= link_to zieb_import_order_lines_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    =t('actions.back')
%h1= t('actions.new')+' '+t('models.zieb_import_order_line')

= render 'form'
